@charset "UTF-8";


/* backgrounds: */
.bg-risk-high {
  background-color: #ff3385;
}

.bg-risk-high a:link {
    color: #000000;
}

.bg-risk-high a:visited {
    color: #ff99c2;
}

.bg-risk-high a:active, .bg-risk-high a:hover {
    color: #f0f0f0
}

.bg-risk-medium {
  background-color:#df9fbf;
}

.bg-risk-medium a:link {
    color: #000000;
}

.bg-risk-medium a:visited {
    color: #ffe6f2;
}

.bg-risk-medium a:active, .bg-risk-medium a:hover {
    color: #f0f0f0
}

.bg-risk-low {
  background-color:#ffeb99;
}

.bg-risk-low a:link {
    color: #000000;
}

.bg-risk-low a:visited {
    color: #ffffe6;
}

.bg-risk-low a:active, .bg-risk-low a:hover {
    color: #ffffff;
}

.bg-risk-solved {
  background-color:#00e673; 
}
/* End of backgrounds */

.bg-risk-solved a:link {
    color: #ffffff;
}

.bg-risk-solved a:visited {
    color: #ccffcc;
}

.bg-risk-solved a:active, .bg-risk-low a:hover {
    color: #ffffff;
}

/* tables: */
.tr-faded {
  color:#D3D3D3; /* HTML color name: LightGrey */
  background-color:#FFFFFF; /* HTML color name: White */
}

.tr-faded-warning {
  background-color:#FFFFE0; /* HTML color name: LightYellow */
}

.table-bg-smoke {
  background-color:#F5F5F5; /* HTML color name: WhiteSmoke */
}
/* End of tables */
